.book-list {
    background : pink;
}

.book {

    width : 30%;
    height : 100px; /*  height of item   */
    border : solid 1px black;
}
ul {
    padding : 0;
    margin : 0;
    list-style : none;
}
